@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
body{
	font-family: 'Droid Arabic Naskh', serif;
	direction: rtl;
}
.btn-orange{
	background: #ff924b;
	color: #fff;
	border: none;
}
.btn-orange:hover{
	background: #ff924b;
	color: #fff;
	border: none;	
}
.panel-orange .panel-heading{
	background: #ff924b;
	color: #fff;
	padding:10px;
	border-color: #ff924b;  
}
.panel-orange .panel-body{
	border-color: #ff924b;	
}
.inside{
	width: 100%;	
}
.navbar{
	background: none;
	border: none;
}
.navbar-toggle{
	float: left;
}
.navbar-brand{
	font-family: 'Droid Arabic Kufi', sans-serif;
	float: right;
	font-size: 30px;
    font-weight: bold;
}
.navbar-collapse{
	border: none;
}
.navbar-collapse.in{
	overflow: hidden !important;
}
.navbar-collapse.in .menu li{
	margin: 0 5px 0 5px;
	width: 100%;
}
.menu li{
	margin: 0 10px 0 10px;
	display: inline;
	float: right;
	padding: 5px 10px 5px 10px;
}
.menu li a{
	color: #ff8737 !important;
	font-size: 16px;
	text-decoration: none;
}
.menu li.active a{
	background: #ff8737 !important;
	border-radius: 3px;
	color: #fff !important;
}
.user .dropdown{
	display: inline;
	width: 180px;
}
.user li{
	float: right;
}
.user .break{
	font-size: 20px;
    margin-top: 10px;
    float: right;
}
.user li a{
	color: #363636;
}
.user .name{
	padding-top: 10px;
}
.user .pp{
	border-radius: 50%;
	width: 35px;
	float: right;
	margin-top: -7px;
	padding: 5px;
}
.user li.open a{
	background: none;
	border-radius: 3px 3px 0 0;
}
.user .dropdown .dropdown-menu{
	text-align: right;
	width: 100%;
}
.user .dropdown .dropdown-menu li a{
	font-size: 14px;
}

/*Reservation*/
.picker__input{
	direction: ltr;
	text-align: right
}
/* Spaces */
.spaces-list{
	list-style: none;
	float: right;
	padding: 0;
}
.spaces-list li{
	min-width: 250px;
	width: 20%;
	margin: 0  0 20px 20px;
	float: right;
}
.spaces-list li a{
	text-decoration: none;
}
.spaces-list li a .panel-heading i{
	font-size: 10px;
}
.spaces-list li .space-icon{
	max-height: 175px;
	width: 100%;
}
.spaces-list li .space-info{
	list-style: none;
	padding: 5px 10px 0;
	float: right;
}
.spaces-list li .space-info li{
	font-size: 14px;
	color: #000;
	margin: 5px;
}
.spaces-list li .space-info li a{
	color: #000;
}
/* space page */
.page h3{
	width: 100%;
	display: block;
	float: right;
}
.page .info{
	width: 100%;
}
.page .info li{
	font-size: 12px;
}
.page .info li i{
	font-size: 12px;
}
.page .time{
	width: 100%;
	float: right;
	border-radius: 0 0 4px 4px;
}
.page .time i{
	font-size: 14px;
}
.page .logo{
	width: 300px;
	float: right;
	padding: 10px;
	max-height: 250px;
}
.page .name{
	float: right;
}
.page .name i{
	font-size: 10px;
	margin: 0 0 0 5px;
}
.page .name .info{
	list-style: none;
	padding: 5px 0 0;
	float: right;
}
.page .name .info li{
	font-size: 16px;
	color: #000;
	margin: 5px;
}
.page .name .info li i{
	font-size: 14px;
}
.page .link{
	color:#000;
	text-decoration: none;
}
.name .info li a{
	color: #000;
}
.page .reserve{
	float: left;
	margin-top: 15px;
}

.post-excerpt{
	width: 100%;
	float: right;
	margin: 5px 0 0 5px;
}
.post-description{
	width: 100%;
	float: right;
	display: none;
	margin: 10px 0 0 5px;
}
.more{
	float: left;
}
.page .post-header{
	float: right;
	width: 100%;
}
/*reservations*/
.reservations{
	direction: rtl;
}
.reservations thead,
.reservations tbody{
	text-align: right;
	direction: rtl;
}
.reservations thead tr th{
	text-align: right;
}
.reservations tbody tr td .edit,
.reservations tbody tr td .del{
	font-size: 16px;
    margin: 0 0 0 15px;
	color: #363636;
}
